In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from pandas import Series, DataFrame

In [3]:
s = Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

传入 numpy array 创建DataFrame

In [5]:
dates = pd.date_range('20180226',periods=7)
dates

DatetimeIndex(['2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01',
               '2018-03-02', '2018-03-03', '2018-03-04'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = DataFrame(np.random.randn(7,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2018-02-26  1.558543 -2.596475 -3.235967 -0.535029
2018-02-27 -0.773950 -0.756242  0.645040 -0.292582
2018-02-28  1.842376 -0.564057 -1.815927  0.004784
2018-03-01 -0.596650 -0.058825 -0.530433  0.982080
2018-03-02 -1.417761  0.106304 -0.310158  1.045805
2018-03-03  0.972924  0.143730  1.293950  0.074228
2018-03-04  0.979139  0.536617  0.456346  1.628000

传入dict创建DataFrame

In [ ]:
pd.Timestamp

In [10]:
df2 = DataFrame({'A':1.,\
 'B' : pd.Timestamp('20130102'),\
'C': Series(1,index=list(range(4)),dtype='float32'),\
'D': np.array([3]*4,dtype='int32'),\
'E': pd.Categorical(['test','train','test','train']),\
'F':'foo'})

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df.head()

                   A         B         C         D
2018-02-26  1.558543 -2.596475 -3.235967 -0.535029
2018-02-27 -0.773950 -0.756242  0.645040 -0.292582
2018-02-28  1.842376 -0.564057 -1.815927  0.004784
2018-03-01 -0.596650 -0.058825 -0.530433  0.982080
2018-03-02 -1.417761  0.106304 -0.310158  1.045805

In [15]:
df.tail()

                   A         B         C         D
2018-02-28  1.842376 -0.564057 -1.815927  0.004784
2018-03-01 -0.596650 -0.058825 -0.530433  0.982080
2018-03-02 -1.417761  0.106304 -0.310158  1.045805
2018-03-03  0.972924  0.143730  1.293950  0.074228
2018-03-04  0.979139  0.536617  0.456346  1.628000

In [16]:
df.index

DatetimeIndex(['2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01',
               '2018-03-02', '2018-03-03', '2018-03-04'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.values

array([[ 1.55854277, -2.59647536, -3.2359673 , -0.53502856],
       [-0.77395002, -0.75624175,  0.64504008, -0.29258204],
       [ 1.84237619, -0.56405729, -1.81592749,  0.00478361],
       [-0.59665034, -0.05882531, -0.53043341,  0.98208017],
       [-1.41776122,  0.10630419, -0.31015778,  1.04580527],
       [ 0.97292425,  0.14372984,  1.2939505 ,  0.07422839],
       [ 0.97913938,  0.53661675,  0.45634597,  1.62799999]])

In [19]:
df.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean   0.366374 -0.455564 -0.499593  0.415327
std    1.275025  1.041021  1.565147  0.804000
min   -1.417761 -2.596475 -3.235967 -0.535029
25%   -0.685300 -0.660150 -1.173180 -0.143899
50%    0.972924 -0.058825 -0.310158  0.074228
75%    1.268841  0.125017  0.550693  1.013943
max    1.842376  0.536617  1.293950  1.628000

In [20]:
df.T

,2018-02-26 00:00:00,2018-02-27 00:00:00,2018-02-28 00:00:00,2018-03-01 00:00:00,2018-03-02 00:00:00,2018-03-03 00:00:00,2018-03-04 00:00:00
A,1.558543,-0.773950,1.842376,-0.596650,-1.417761,0.972924,0.979139
B,-2.596475,-0.756242,-0.564057,-0.058825,0.106304,0.143730,0.536617
C,-3.235967,0.645040,-1.815927,-0.530433,-0.310158,1.293950,0.456346
D,-0.535029,-0.292582,0.004784,0.982080,1.045805,0.074228,1.628000

按轴排序

In [25]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2018-03-04  0.979139  0.536617  0.456346  1.628000
2018-03-03  0.972924  0.143730  1.293950  0.074228
2018-03-02 -1.417761  0.106304 -0.310158  1.045805
2018-03-01 -0.596650 -0.058825 -0.530433  0.982080
2018-02-28  1.842376 -0.564057 -1.815927  0.004784
2018-02-27 -0.773950 -0.756242  0.645040 -0.292582
2018-02-26  1.558543 -2.596475 -3.235967 -0.535029

按值排序(有by参数指定列)

In [26]:
df.sort_values(by='B',)

                   A         B         C         D
2018-02-26  1.558543 -2.596475 -3.235967 -0.535029
2018-02-27 -0.773950 -0.756242  0.645040 -0.292582
2018-02-28  1.842376 -0.564057 -1.815927  0.004784
2018-03-01 -0.596650 -0.058825 -0.530433  0.982080
2018-03-02 -1.417761  0.106304 -0.310158  1.045805
2018-03-03  0.972924  0.143730  1.293950  0.074228
2018-03-04  0.979139  0.536617  0.456346  1.628000

In [32]:
df.loc[:,'A':'B']

                   A         B
2018-02-26  1.558543 -2.596475
2018-02-27 -0.773950 -0.756242
2018-02-28  1.842376 -0.564057
2018-03-01 -0.596650 -0.058825
2018-03-02 -1.417761  0.106304
2018-03-03  0.972924  0.143730
2018-03-04  0.979139  0.536617

In [33]:
df[df>0]

                   A         B         C         D
2018-02-26  1.558543       NaN       NaN       NaN
2018-02-27       NaN       NaN  0.645040       NaN
2018-02-28  1.842376       NaN       NaN  0.004784
2018-03-01       NaN       NaN       NaN  0.982080
2018-03-02       NaN  0.106304       NaN  1.045805
2018-03-03  0.972924  0.143730  1.293950  0.074228
2018-03-04  0.979139  0.536617  0.456346  1.628000

In [34]:
df[df>0].dropna(how='any')

                   A         B         C         D
2018-03-03  0.972924  0.143730  1.293950  0.074228
2018-03-04  0.979139  0.536617  0.456346  1.628000

In [35]:
df[df>0].fillna(value=0)

                   A         B         C         D
2018-02-26  1.558543  0.000000  0.000000  0.000000
2018-02-27  0.000000  0.000000  0.645040  0.000000
2018-02-28  1.842376  0.000000  0.000000  0.004784
2018-03-01  0.000000  0.000000  0.000000  0.982080
2018-03-02  0.000000  0.106304  0.000000  1.045805
2018-03-03  0.972924  0.143730  1.293950  0.074228
2018-03-04  0.979139  0.536617  0.456346  1.628000

In [39]:
pd.notnull(df[df>0])

                A      B      C      D
2018-02-26   True  False  False  False
2018-02-27  False  False   True  False
2018-02-28   True  False  False   True
2018-03-01  False  False  False   True
2018-03-02  False   True  False   True
2018-03-03   True   True   True   True
2018-03-04   True   True   True   True

In [42]:
s = pd.Series([1,3,5,np.nan,6,8,9], index=dates).shift(2)
s

2018-02-26    NaN
2018-02-27    NaN
2018-02-28    1.0
2018-03-01    3.0
2018-03-02    5.0
2018-03-03    NaN
2018-03-04    6.0
Freq: D, dtype: float64

In [44]:
index

NameError: name 'index' is not defined

In [43]:
df.sub(s, axis='index')

                   A         B         C         D
2018-02-26       NaN       NaN       NaN       NaN
2018-02-27       NaN       NaN       NaN       NaN
2018-02-28  0.842376 -1.564057 -2.815927 -0.995216
2018-03-01 -3.596650 -3.058825 -3.530433 -2.017920
2018-03-02 -6.417761 -4.893696 -5.310158 -3.954195
2018-03-03       NaN       NaN       NaN       NaN
2018-03-04 -5.020861 -5.463383 -5.543654 -4.372000

In [45]:
df

                   A         B         C         D
2018-02-26  1.558543 -2.596475 -3.235967 -0.535029
2018-02-27 -0.773950 -0.756242  0.645040 -0.292582
2018-02-28  1.842376 -0.564057 -1.815927  0.004784
2018-03-01 -0.596650 -0.058825 -0.530433  0.982080
2018-03-02 -1.417761  0.106304 -0.310158  1.045805
2018-03-03  0.972924  0.143730  1.293950  0.074228
2018-03-04  0.979139  0.536617  0.456346  1.628000

In [46]:
df.apply(np.cumsum)

                   A         B         C         D
2018-02-26  1.558543 -2.596475 -3.235967 -0.535029
2018-02-27  0.784593 -3.352717 -2.590927 -0.827611
2018-02-28  2.626969 -3.916774 -4.406855 -0.822827
2018-03-01  2.030319 -3.975600 -4.937288  0.159253
2018-03-02  0.612557 -3.869296 -5.247446  1.205058
2018-03-03  1.585482 -3.725566 -3.953495  1.279287
2018-03-04  2.564621 -3.188949 -3.497149  2.907287

In [48]:
df.stack().unstack()

                   A         B         C         D
2018-02-26  1.558543 -2.596475 -3.235967 -0.535029
2018-02-27 -0.773950 -0.756242  0.645040 -0.292582
2018-02-28  1.842376 -0.564057 -1.815927  0.004784
2018-03-01 -0.596650 -0.058825 -0.530433  0.982080
2018-03-02 -1.417761  0.106304 -0.310158  1.045805
2018-03-03  0.972924  0.143730  1.293950  0.074228
2018-03-04  0.979139  0.536617  0.456346  1.628000

重新索引

In [49]:
s = Series([1,2,3,4],index=list('ABCD'))
s

A    1
B    2
C    3
D    4
dtype: int64

In [56]:
s = s.reindex(['D','B','C','A','E'])
s

D    4.0
B    2.0
C    3.0
A    1.0
E    NaN
dtype: float64

In [62]:
s = Series(data=list('ABCD'),index=[0,3,5,8])
s

0    A
3    B
5    C
8    D
dtype: object

In [63]:
s = s.reindex(range(10),method='bfill')
s

0      A
1      B
2      B
3      B
4      C
5      C
6      D
7      D
8      D
9    NaN
dtype: object

In [67]:
s1 = Series([1,2,5,7],index=list('ABCD'))

s2 = Series([0,1,5,2,7],index=list('EADBF'))

In [68]:
s = s1 + s2

In [69]:
s

A     2.0
B     4.0
C     NaN
D    12.0
E     NaN
F     NaN
dtype: float64

In [55]:
s.index

Index(['D', 'B', 'C', 'A'], dtype='object')