In [2]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [3]:
series = Series([1,2,3])

In [5]:
series.to_dict()

{0: 1, 1: 2, 2: 3}

In [6]:
series.to_json()

'{"0":1,"1":2,"2":3}'

In [7]:
series.name

In [8]:
series.values

array([1, 2, 3], dtype=int64)

In [9]:
series.dtype

dtype('int64')

In [10]:
series.dtypes

dtype('int64')

In [11]:
series.name= 'Number'

In [12]:
series

0    1
1    2
2    3
Name: Number, dtype: int64

In [13]:
series.index = ['one','two','three']

In [14]:
series

one      1
two      2
three    3
Name: Number, dtype: int64

In [15]:
series>2

one      False
two      False
three     True
Name: Number, dtype: bool

In [16]:
series/2

one      0.5
two      1.0
three    1.5
Name: Number, dtype: float64

In [17]:
2 in series

False

In [18]:
'two' in series

True

In [19]:
2 in series.values

True

In [20]:
series.isnull()

one      False
two      False
three    False
Name: Number, dtype: bool

In [21]:
series.notnull()

one      True
two      True
three    True
Name: Number, dtype: bool

In [22]:
series['none'] = np.nan

In [23]:
series

one      1.0
two      2.0
three    3.0
none     NaN
Name: Number, dtype: float64

In [24]:
series.isnull()

one      False
two      False
three    False
none      True
Name: Number, dtype: bool

In [27]:
series.index.name ='0-9'

In [28]:
series

0-9
one      1.0
two      2.0
three    3.0
none     NaN
Name: Number, dtype: float64

In [29]:
series = Series([0,1,2,3])

In [30]:
series

0    0
1    1
2    2
3    3
dtype: int64

In [31]:
series[4] = np.nan

In [32]:
series

0    0.0
1    1.0
2    2.0
3    3.0
4    NaN
dtype: float64